body,
html {
  background: #F0F3F8;
  height: 100%;
  margin: 0;
}

body h1,
body h3,
html h1,
html h3 {
  margin: 0;
}

.staff-single-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 950px) {
  .staff-single-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: 20px 0;
  }
}

@media (min-width: 950px) {
  .staff-single-title-image-bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
  }
}

.staff-single-bio {
  border-right: 3px solid #5A86BF;
  margin-top: 10px;
}

.staff-single-bio p {
  width: 95%;
  color: #1A4173;
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin-right: 5px;
}

@media (min-width: 950px) {
  .staff-single-bio {
    width: 100%;
    padding: 20px;
  }
}

.staff-single-image {
  text-align: center;
  border-left: 3px solid #5A86BF;
}

.staff-single-image img {
  width: 75%;
}

@media (min-width: 950px) {
  .staff-single-image {
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: none;
  }
  .staff-single-image img {
    width: 60%;
    -webkit-box-shadow: 20px 20px 10px #88a0c7;
            box-shadow: 20px 20px 10px #88a0c7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.staff-single-name-title {
  color: #1A4173;
  padding: 20px;
  margin: 10px 0;
  border-right: 3px solid #5A86BF;
}

.staff-single-name-title h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

.staff-single-name-title h4 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.staff-single-name-title h3, .staff-single-name-title h4 {
  text-align: left;
}

@media (min-width: 950px) {
  .staff-single-name-title {
    border-right: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-right: 3px solid #5A86BF;
  }
  .staff-single-name-title h3 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }
  .staff-single-name-title h4 {
    font-size: 25px;
    width: 100%;
    text-align: right;
    margin-right: 30%;
  }
}

.staff-single-qualifications, .staff-single-expertise {
  color: #1A4173;
  margin: 10px 0;
}

.staff-single-qualifications ul, .staff-single-expertise ul {
  font-family: "Raleway", sans-serif;
}

.staff-single-qualifications h3, .staff-single-expertise h3 {
  font-family: "Oswald", sans-serif;
  padding-left: 10px;
}

@media (min-width: 950px) {
  .staff-single-qualifications ul, .staff-single-expertise ul {
    width: 80%;
  }
  .staff-single-qualifications p, .staff-single-expertise p {
    font-size: 25px;
  }
}

.staff-single-qual-expert {
  color: #1A4173;
  margin: 10px 0;
}

.staff-single-qual-expert ul {
  font-family: "Raleway", sans-serif;
  border-right: 3px solid #5A86BF;
}

@media (min-width: 950px) {
  .staff-single-qual-expert ul {
    border-right: none;
  }
}

.staff-single-qual-expert h3 {
  font-family: "Oswald", sans-serif;
  padding-left: 10px;
  border-left: 3px solid #5A86BF;
}

@media (min-width: 950px) {
  .staff-single-qual-expert h3 {
    border-left: none;
  }
}

@media (min-width: 950px) {
  .staff-single-qual-expert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45%;
  }
  .staff-single-qual-expert ul {
    width: 80%;
  }
  .staff-single-qual-expert p {
    font-size: 25px;
  }
}
/*# sourceMappingURL=staff-single.css.map */